
/* Custom fonts */
@font-face {
  font-family: Modernist;
  src: url(Sen-Bold.ttf);
  /* src: url(Sk-Modernist-Bold.woff); */
}

* {
  /* font-family: Modernist; */
  margin: 0%;
  box-sizing: border-box;
  padding: 0%;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  animation-name: opacity-set;
  /* animation-duration: 1s; */
    
}
html {
  scroll-behavior: smooth;
}
body {
  background: rgb(245, 245, 245);
  
}
.fa-comment {
  /* background: #3F51B5; */
  color: white;
  font-size: 1.25em;
}
#message-user-div {
  /* display: block; */
  margin-top: 1em;
  border-radius: 50%;
  background: #4287f4;
  padding: 0.5em 0.5em;
  display: inline-block;
}
#navbar {
    display: flex;
    list-style: none;
    font-size: 40px;
    font-family: Modernist;
    font-weight: 900;
    justify-content: space-around;
    text-align: center;
    /* box-shadow: 0 14px 28px rgba(0,0,0,0), 0 5px 5px rgba(0,0,0,0.2); */
    background-color: white;
    padding-top: 1%;
    padding-bottom: 1%;
}
.navbar {
  display: flex;
  list-style: none;
  font-size: 40px;
  font-family: Modernist;
  font-weight: 900;
  justify-content: space-around;
  text-align: center;
  /* box-shadow: 0 14px 28px rgba(0,0,0,0), 0 5px 5px rgba(0,0,0,0.2); */
  background-color: white;
  padding-top: 1%;
  padding-bottom: 1%;
}
.sticky {
  transform: translateY(-35%);
  top: 0;
  width: 100%;
}
.navbar-new ul {
  display: flex;
  font-family: Modernist;
  list-style: none;
  justify-content: flex-start;
}
.navlink-header {
  font-size: 2rem;
}
.navlink-new {
  margin: 2rem;
  font-size: 1.2rem;
}
.navlink-profile {
  float: right;  
}

.darkmode-layer, .darkmode-toggle {
  z-index: 500;
}
.mind {
  background: linear-gradient(to right, #F22C7D 0%, #7F1DFF 100%); 
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.fa-check-circle {
  /* background: linear-gradient(to right, #F22C7D 0%, #7F1DFF 100%); 
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: #e6339b;
}
.navlink {
    text-decoration: none;
    color: black;
}
.fa-bars {
    font-size: 25px;
    cursor: pointer;
}
.fa-bars:hover {
  color: rgb(70, 70, 70);
}
.fa-search {
    font-size: 25px;
}
#dot {
    color: #3F51B5;
}

.main {
    padding-top: 15%;
    justify-content: space-around;
    text-align: center;
    font-size: 25px;
    font-family: Modernist;
    position:relative;
    background-size:cover;
    /* height: 100vh; */


}
/* 
.main::after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:50%;
    height:30%;
    /* background-image: 
    background-size: cover;
    z-index: 1 ;
} */


.like-count {
  color: black;
  font-family: Modernist;
  font-weight: 100;
  -webkit-touch-callout: none;
       -webkit-user-select: none;
       -khtml-user-select: none;
       -moz-user-select: none;
       -ms-user-select: none;
        user-select: none;
}

.fa-thumbs-up {
  color: black;
  text-decoration: none;
  -webkit-touch-callout: none;
       -webkit-user-select: none;
       -khtml-user-select: none;
       -moz-user-select: none;
       -ms-user-select: none;
        user-select: none;
}
.like-btn {
  text-decoration: none;
  -webkit-touch-callout: none;
       -webkit-user-select: none;
       -khtml-user-select: none;
       -moz-user-select: none;
       -ms-user-select: none;
        user-select: none;
}
#search {
  letter-spacing: 1px;
      text-align:center;
    padding-bottom:5px;
    background:
      linear-gradient(
        to left, 
        rgba(127, 29, 255, 1) 0%,
        rgba(127, 29, 255, 1) 12%,
        rgba(242, 44, 125, 1) 47%,
       rgba(242, 44, 125, 1) 100%
      )
      left 
      bottom
         
      no-repeat; 
    background-size:100% 5px ;
    
    border: none;
      width: 30%;
      text-align: center;
      font-family: Modernist;
      outline: none;
  }
#search-navbar {
  text-align: center;
  padding: 12px 18px;
  border: none;
  border-bottom: rgba(58, 56, 56, 0.623) 1px solid;
  font-family: Modernist;
  width: 60%;
}
#search-navbar:focus {
  /* box-shadow: 0 0 3pt 2pt rgba(117, 70, 179, 0.246); */
  outline: none;
  border-bottom: rgb(78, 150, 218) 1.25px solid;
  width: 75%;
  text-align: center;
}
.button-search {
  background: none;
  border: none;
  outline: none;
  font-size: 1rem;
}
.sidenav-txt {
  margin: 0.75rem;
}
  /* The side navigation menu */
.sidenav {
  font-family: Modernist;
    height: 100%; /* 100% Full-height */
    text-align: left;
    
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: whitesmoke;
    box-shadow: 10px 0 20px -10px #888;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.5em;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

.sidenav-search {
  font-family: Modernist;
    height: 100%; /* 100% Full-height */
    text-align: left;
    
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: whitesmoke;
    box-shadow: 10px 0 20px -10px #888;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav-search a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.5em;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  #a-non-link:hover {
    color: #818181;
  }
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #c8c8c8;
    fill: #c8c8c8;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;

  }
.closebtn {
  user-select: none;
}  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  #user_avatar {
      border-radius: 50%;
  }
 
  #usernameinput {
    border: none;
    border-bottom: solid black 2px;
    outline: none;
    width: 25%;
    font-family: Modernist;
  }
  .mainform {
    padding-top: 2%;
}
 #login {
  font-family: Modernist;
 }
 .accounttext {
   justify-content: space-around;
   text-align: center;
   padding-top: 5%;
 }
 #submit {
   justify-content: space-around;
   text-align: center;
   align-content: center;
   outline: none;
   border-radius: 20px;
   border: none;
   background-color: #3F51B5;
   padding: 10px 20px;
   font-family: Modernist;
   cursor: pointer;
   color: white;
 }
 #submit:hover {
   background: rgba(63, 81, 181, 0.719);
   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
   transform: translateY(-2px);
 }
 .submitdiv {
   justify-content: space-around;
   text-align: center;
 }

 /* POST LIST */

.centercontent {
  padding-top: 3%;
}
.post-text {
  word-wrap: break-word;
  white-space: pre-line;
}
.post {
  font-family: Modernist;
  color: black;
  padding-left: 3%;
  /* border: rgba(44, 44, 44, 0.100) 1px solid; */
  /* background: rgb(221, 221, 221); */
  background: rgb(255, 255, 255);
  /* -webkit-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.26);
    box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.26); */
  /* margin-left: 2%; */
  /* margin-top: 2rem; */
  margin: 0 auto;
  width: 70%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 20px;
}
.post-container-de {
  margin-top: 2rem;
}
.navbar-image {
  -webkit-touch-callout: none;
       -webkit-user-select: none;
       -khtml-user-select: none;
       -moz-user-select: none;
       -ms-user-select: none;
        user-select: none;
}
@media screen and (max-width: 600px) {
  .posts {
    width: 100%;
    padding: 2%;
    margin: 0%;
  }
}
.tag-list-box {
  font-family: Modernist;
  cursor: pointer;
}
.tag-list-box-profile {
  font-family: Modernist;
  cursor: pointer;
  background:
  linear-gradient(
    to left, 
    rgba(127, 29, 255, 1) 0%,
    rgba(127, 29, 255, 1) 25%,
    rgba(242, 44, 125, 1) 50%,
   rgba(242, 44, 125, 1) 100%
  )
  left 
  bottom
     
  no-repeat;
padding: 8px;
margin: 4px;
border: none;
border-radius: 8px;
color: white;
}
.tag-list-box-profile-profile {
  font-family: Modernist;
  cursor: pointer;
padding: 8px;
margin: 4px;
border: none;
border-radius: 8px;
color: white;
}
.title {
  color: black;
  font-size: 35px;
  font-weight: 100;
  text-decoration: none;
}
.search-results-thing {
  
  font-size: 2rem;
}
#center-stuff-search {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-family: Modernist;
}
.search-thing {
  text-transform: uppercase;
  background: linear-gradient(to right, #F22C7D 0%, #7F1DFF 100%); 
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.title:hover {
  text-decoration: underline solid black;
}
.verified-tick {
  background-image: url(interests/mainapp/static/images/verified.png);
}
#moderator {
  background: linear-gradient(to right, #F22C7D 0%, #7F1DFF 100%); 
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
  font-family: Modernist;
}
.comment {
  color: black;
  text-decoration: none;
}
.profile-image-round {
  border-radius: 50%;
  margin: 2%;
}
#tags-test {
  word-wrap: break-word;
  white-space: pre-line;
}
.fa-fire {
  color: rgb(245, 57, 0);
}
#trending {
  color: rgb(245, 57, 0);
}
#readmore {
  text-decoration: none;
}
.postcontents {
  background: #3F51B5;
  margin: 2%;
  margin-right: 30%;
  font-family: Modernist;
  background: rgb(221, 221, 221);
  border-radius: 20px;
  padding-top: 2%;
  padding-bottom: 2%;
}
.posttitle {
  margin-left: 2%;
}
.controls {
  margin: 2%;
}
.update {
  background: #3F51B5;
  padding: 8px 8px;
  border-radius: 10px;
  color: white;
}
.delete {
  background: #F22C7D;
  color: white;
  padding: 8px 8px;
  border-radius: 10px;
}
.search-form {
  margin: 0 auto;
  font-family: Modernist;
  margin-top: 2%;
}
#search-r {
  border: none;
  outline: none;
  margin: 2%;
  width: 20%;
  border-bottom: 1px solid black;
  font-family: Modernist;
}
/* #search-r:focus {
  width: 30%;
} */
.search-and-new-block {
  font-family: Modernist;
  margin: 0 auto;
  margin-top: 2rem;
  justify-content: space-around;
  text-align: center;
  background: rgb(240, 240, 240);
  border-radius: 16px;
  padding: 2rem;
}
.search-box {
  padding: 16px 16px;
  margin: 0 auto;
  font-family: Modernist;
  
  width: 40%;
  border: none;
  outline: none;
  border-radius: 12px;
}
.search-box:focus {
  transform: translateY(-1em);
  width: 70%;
  border-radius: 12px;
  /* border: 300px solid #1C6EA4; */
  outline: 1500px solid rgb(2, 2, 2);
  opacity: 0.4;
  -webkit-box-shadow: 0px 7px 40px 0px rgba(255, 255, 255, 0.75);
-moz-box-shadow: 0px 7px 40px 0px rgba(255, 255, 255, 0.75);
box-shadow: 0px 7px 40px 0px rgba(255, 255, 255, 0.75);
  /* -webkit-box-shadow: 0px 0px 3000px 1000px rgba(0,0,0,0.90);
-moz-box-shadow: 0px 0px 3000px 1000px rgba(0,0,0,0.90);
box-shadow: 0px 0px 3000px 1000px rgba(0,0,0,0.90); */
}
.search-box:focus #sidebar {
  z-index: -3;
}


.postcontent {
  margin-left: 2%;
  resize: none;
  /* overflow-wrap: break-word; */
  margin: 2%;
}
#need-account {
  font-family: Modernist;
  padding-top: 2%;
}
.user-image {
  border-radius: 10000px;
}
.pub-post {
  margin-left: 2%;
}
.posted-by {
  margin-left: 2%;
  /* overflow-wrap: break-word; */
}
.nsfw {
  width: 10%;
  background: white;
  border: solid 2px rgb(200, 26, 26);
  border-radius: 5px;
  text-align: center;
  -webkit-touch-callout: none;
       -webkit-user-select: none;
       -khtml-user-select: none;
       -moz-user-select: none;
       -ms-user-select: none;
        user-select: none;
}
.tag-list-a {
  
}
.tags-list-detail {
  display: flex;
  list-style-type: none;
  list-style: none;
  word-wrap: break-word;
  white-space: pre-line;
}
.remember-me-div {
  text-align: center;
  border: none;
  font-family: Modernist;
}
.remember-me {
  background: #818181;
  border-radius: 50px;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.styled-checkbox {
  position: absolute;
  opacity: 0;
  border-radius: 50px;
}
.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}
.styled-checkbox + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: rgb(224, 224, 224);
}
.styled-checkbox:hover + label:before {
  opacity: 0.4;
}
.styled-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.styled-checkbox:checked + label:before {
}
.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}

.unstyled {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li {
  margin: 10px 0;
}
.centered {
  width: 300px;
  margin: auto;
}
.title {
  text-align: center;
  color: black;
}

.formtext {
  padding-top: 2%;
  text-align: center;
  border: none;
  font-family: Modernist;
}
/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.if-comments {
  font-family: Modernist;
}
.account-settings-logout-div {
  display: flex;
  justify-content: space-between;
}
.logo-img-cont {
  width: auto;
  height: 80px;

}
#saved-posts- {
  font-family: Modernist;
  font-weight: 400;
  color: white;
  opacity: 0.4;
  user-select: none;
  text-transform: uppercase;
  transform: translateY(5rem);
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
#profile-header-overview {
  text-transform: uppercase;
  margin: 0 auto;
}
br {
  user-select: none;
}
.tag-list-style {
  margin-left: 2%;
  cursor: pointer;
  font-family: Modernist;
  padding: 5px 20px;
  border-radius: 3px;
  border: none;
  outline: none;
  color: white;
  background: linear-gradient(90deg, rgba(242,44,125,1) 0%, rgba(127,29,255,1) 100%);
}
.check-circle {
    text-transform: uppercase;
    background: linear-gradient(90deg, rgba(242,44,125,1) 0%, rgba(127,29,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 } 
.tag-list-box {}
.spoiler {
  width: 10%;
  background: white;
  border: solid 2px rgb(100, 100, 100);
  -webkit-touch-callout: none;
       -webkit-user-select: none;
       -khtml-user-select: none;
       -moz-user-select: none;
       -ms-user-select: none;
        user-select: none;
  border-radius: 5px;
  text-align: center;
}
.postdate {
  margin-left: 2%;
  display: flex;
}
.commentbtn {
  padding: 8px 8px;
  border-radius: 50px;
  border: none;
  outline: none;
  color: white;
  background: linear-gradient(90deg, rgba(242,44,125,1) 0%, rgba(127,29,255,1) 100%); 
}
.aclass {
  color: white;
  font-family: Modernist;
  text-decoration: none;
}

/* dev portal */
.flex-dev-port {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.sidebar-developer-portal {
  padding: 2em;
  font-family: Modernist;
  color: rgb(61, 61, 61);
  background: rgb(199, 199, 199);
  height: 100vh;
}
.dev-rest {
  margin-left: 1em;
  margin-top: 2em;
}
.developer-welcome {
}
#welcome-to {
  font-family: Modernist;
}

.textareaclass {
  border-radius: 8px;
  resize: vertical;
  background: white;
  outline: none;
  padding: 1rem;
  height: 25vh;
  overflow: scroll;
  overflow-x: hidden;
  border: rgba(0,0,0,0.26) solid 1px;
}
.empty-text {
  text-align: center;
  font-family: Modernist;
  margin-top: 1rem;
}
.profile-image-header {
  border-radius: 100%;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.profile-header {
  height: auto;
  padding: 2rem;
  text-align: center;
  background: linear-gradient(90deg, rgba(242,44,125,1) 0%, rgba(127,29,255,1) 100%); 
  font-family: Modernist;
  color: white;

}
#profile-header-desc {
  font-size: larger;
  
}
.commentbtn:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transform: translateY(-2px);
}
#divider_post {
  width: 40%;
  background: black;
  color: black;
  border-top: black solid 1px;
}
.post-image-nsfw {
  -webkit-filter: blur(20px);
}
.post-image-nsfw:hover {
  -webkit-filter: blur(0px);
}
.divider {
  width: 30%;
  margin-left: 2%;
  color: black;
  background: black;
  border: solid 2px black;
  border-radius: 50px;
  height: 1px;
}
.container {
  font-family: Modernist;
}
.container-home {
  margin-left: 2%;
  font-family: Modernist;
}
.create-post-link {
  margin: 0 auto;
  font-family: Modernist;
  padding: 12px 12px;
  background: #3F51B5;
  margin-top: 2%;
  color: white;
  border-radius: 12px;
}
.list-of-groups {
  background: red;
}
.profilepage {
  margin-left: 2%;
  margin-top: 2%;
  font-family: Modernist;
}

.friendreq {
  margin-top: 2%;
  background:
      linear-gradient(
        to left, 
        rgba(127, 29, 255, 1) 0%,
        rgba(127, 29, 255, 1) 12%,
        rgba(242, 44, 125, 1) 47%,
       rgba(242, 44, 125, 1) 100%
      )
      left 
      bottom
         
      no-repeat; 
      padding: 10px 10px;
      color: white;
      text-decoration: none;
      border-radius: 12px;
}
.friendreq:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  
}
.connect-btn:hover span {
  display:none;
}
.connect-btn:hover:before {
  content:"Disconnect";
}
/* The side navigation menu */
#sidebar-profile {
  transform: translateY(-15%);
  /* text-align: center; */
  /* transform: translateY(-15%); */
  /* -webkit-box-shadow: 0px 0px 13px -2px rgba(0,0,0,0.49);
  -moz-box-shadow: 0px 0px 13px -2px rgba(0,0,0,0.49);
  box-shadow: 0px 0px 13px -2px rgba(0,0,0,0.49); */
  border-radius: 12px;
  padding: 1rem;
  width: 25%;
  margin-left: 10%;
  background-color: white;
  position: absolute;
  /* z-index: -45; */
  font-family: Modernist;
}
#sidebar {
  /* text-align: center; */
  /* transform: translateY(-15%); */
  /* -webkit-box-shadow: 0px 0px 13px -2px rgba(0,0,0,0.49);
  -moz-box-shadow: 0px 0px 13px -2px rgba(0,0,0,0.49);
  box-shadow: 0px 0px 13px -2px rgba(0,0,0,0.49); */
  border-radius: 12px;
  padding: 1rem;
  width: 25%;
  margin-left: 10%;
  background-color: white;
  position: absolute;
  
  font-family: Modernist;
}
.profile-cont-stuff {
  display: flex;
  justify-content: space-evenly;
}
@keyframes opacity-set {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
.image-profile {
  transform: translateY(-50%);
}
.header-profile-image {
  box-shadow: 0 0 0 12.25pt white;
  transform: translateY(-50%);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

#header-profile {
  text-align: left;
  font-weight: 500;
  font-size: x-large;
}
#description-profile-page {
  text-align: left;
  font-weight: 100;
}
.sign-in-alt {
  color: #818181;
}
.sign-out-alt {
  color: #818181;
}
/* Sidebar links */
#sidebar p {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */


/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 25%;
  padding: 1px 16px;
  font-family: Modernist;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  #sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  #sidebar a {float: left;}
  div.content {margin-left: 0;}
}
@media screen and (max-width: 700px) {
  .navbar-logo {
    width: 15%;
    height: 15%;
    position: relative;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  #sidebar a {
    text-align: center;
    float: none;
  }
}
#posted-by-page {
  font-size: 30px;
}
#ie {
  display: flex;
  background: #3F51B5;
  margin: 2%;
  padding: 2%;
  border-radius: 12px;
  color: white;
  font-family: Modernist;
} 
.reply-li {
  margin-left: 2%;
  list-style: disc;
}
 #chrome {
  display: none;
  background: #3F51B5;
  margin: 2%;
  padding: 2%;
  border-radius: 12px;
  color: white;
  font-family: Modernist;
}

.fa-times-circle {
  color: white;
}


.tags-list-tag-page {
  font-family: Modernist;
  margin-left: 2%;
}
/* Player Skin Designer for Video.js http://videojs.com To customize the player skin edit the CSS below. Click "details" below to add comments or questions. This file uses some SCSS. Learn more at http://sass-lang.com/guide) This designer can be linked to at: https://codepen.io/heff/pen/EarCt/left/?editors=010 */
 
.video-js {
	/* The base font size controls the size of everything, not just text. All dimensions use em-based sizes so that the scale along with the font size. Try increasing it to 15px and see what happens. */
	 font-size: 10px;
	/* The main font color changes the ICON COLORS as well as the text */
	 color: #fff;
}
/* The "Big Play Button" is the play button that shows before the video plays. To center it set the align values to center and middle. The typical location of the button is the center, but there is trend towards moving it to a corner where it gets out of the way of valuable content in the poster image.*/
 .vjs-default-skin .vjs-big-play-button {
	/* The font size is what makes the big play button...big. All width/height values use ems, which are a multiple of the font size. If the .video-js font-size is 10px, then 3em equals 30px.*/
	 font-size: 3em;
	/* We're using SCSS vars here because the values are used in multiple places. Now that font size is set, the following em values will be a multiple of the new font size. If the font-size is 3em (30px), then setting any of the following values to 3em would equal 30px. 3 * font-size. */
	/* 1.5em = 45px default */
	 line-height: 1.5em;
	 height: 1.5em;
	 width: 3em;
	/* 0.06666em = 2px default */
	 border: 0.06666em solid #fff;
	/* 0.3em = 9px default */
	 border-radius: 1em;
	/* Align center */
	 left: 50%;
	 top: 50%;
	 margin-left: -1.5em;
	 margin-top: -0.75em;
}
/* The default color of control backgrounds is mostly black but with a little bit of blue so it can still be seen on all-black video frames, which are common. */
 .video-js .vjs-control-bar, .video-js .vjs-big-play-button, .video-js .vjs-menu-button .vjs-menu-content {
	/* IE8 - has no alpha support */
	 background-color: #342d36;
	/* Opacity: 1.0 = 100%, 0.0 = 0% */
	 background-color: rgba(52, 45, 54, 0.7);
}
/* Slider - used for Volume bar and Progress bar */
 .video-js .vjs-slider {
	 background-color: #8c7b91;
	 background-color: rgba(140, 123, 145, 0.5);
}
/* The slider bar color is used for the progress bar and the volume bar (the first two can be removed after a fix that's coming) */
 .video-js .vjs-volume-level, .video-js .vjs-play-progress, .video-js .vjs-slider-bar {
	 background: #fff;
}
/* The main progress bar also has a bar that shows how much has been loaded. */
 .video-js .vjs-load-progress {
	/* For IE8 we'll lighten the color */
	 background: #c8c0cb;
	/* Otherwise we'll rely on stacked opacities */
	 background: rgba(140, 123, 145, 0.5);
}
/* The load progress bar also has internal divs that represent smaller disconnected loaded time ranges */
 .video-js .vjs-load-progress div {
	/* For IE8 we'll lighten the color */
	 background: #fff;
	/* Otherwise we'll rely on stacked opacities */
	 background: rgba(140, 123, 145, 0.75);
}
 

/* Profile stuff */

.profile-page-container {
  margin-top: 2rem;
  display: flex;
}

.profile-page-info {
  margin-left: 4rem;
}
#username-name {
  color: #4287f4;
  text-decoration: none;
}
#username-profile-page {
  font-size: 3rem;
}
.profile-page-user-desc-box {
  background: #818181;
  padding: 2rem;
  width: 35%;
}
#sign-up-head {
  opacity: 0.3;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
@media screen and (max-width:600px){
  .profile-page-container{
    display: block;
    margin: 0;
  }
}

.user-post-user-profile-page {
}

/* End profile */
.textinputclass {
  padding: 1%;
  margin-top: 1%;
}
.text-title {
  width: 50%;
  border-radius: 8px;
  outline: none;
  font-family: Modernist;
  border: none;
}
.editable {
  border-radius: 8px;
  resize: vertical;
  background: white;
  outline: none;
  padding: 1rem;
  height: 25vh;
  overflow: scroll;
  overflow-x: hidden;
  -webkit-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.26);
    box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.26);
}
.screen {
  background-image: url(/interests/mainapp/static/images/interests-bg.svg);
}
 /* setup tooltips */
 .tooltip {
  position: relative;
}
.tooltip:before,
.tooltip:after {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
.tooltip:after {
	border-right: 6px solid transparent;
	border-bottom: 6px solid rgba(0,0,0,.75); 
  border-left: 6px solid transparent;
  content: '';
  height: 0;
    top: 20px;
    left: 20px;
  width: 0;
}
.tooltip:before {
  background: rgba(0,0,0,.75);
  border-radius: 2px;
  color: #fff;
  content: attr(data-title);
  font-size: 14px;
  padding: 6px 10px;
    top: 26px;
    left: 15px;
  white-space: nowrap;
}

/* the animations */
/* fade */
.tooltip.fade:after,
.tooltip.fade:before {
  transform: translate3d(0,-10px,0) ;
  transition: all .15s ease-in-out;
}
.tooltip.fade:hover:after,
.tooltip.fade:hover:before {
  opacity: 1;
  transform: translate3d(0,0,0);
}

/* expand */
.tooltip.expand:before {
  transform: scale3d(.2,.2,1);
  transition: all .2s ease-in-out;
}
.tooltip.expand:after {
  transform: translate3d(0,6px,0);
  transition: all .1s ease-in-out;
}
.tooltip.expand:hover:before,
.tooltip.expand:hover:after {
  opacity: 1;
  transform: scale3d(1,1,1);
}
.tooltip.expand:hover:after {
  transition: all .2s .1s ease-in-out;
}

/* swing */
.tooltip.swing:before,
.tooltip.swing:after {
  transform: translate3d(0,30px,0) rotate3d(0,0,1,60deg);
  transform-origin: 0 0;
  transition: transform .15s ease-in-out, opacity .2s;
}
.tooltip.swing:after {
  transform: translate3d(0,60px,0);
  transition: transform .15s ease-in-out, opacity .2s;
}
.tooltip.swing:hover:before,
.tooltip.swing:hover:after {
  opacity: 1;
  transform: translate3d(0,0,0) rotate3d(1,1,1,0deg);
}

#subBtn {
  background: rgb(242,44,125);
background: linear-gradient(90deg, rgba(242,44,125,1) 0%, rgba(127,29,255,1) 100%);
padding: 8px 26px;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 12px;
}
#nextBtn {
  background: rgb(242,44,125);
  background: linear-gradient(90deg, rgba(242,44,125,1) 0%, rgba(127,29,255,1) 100%);
  padding: 8px 26px;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 12px;
}
.post-form-submit {
  padding: 8px 16px;
  cursor: pointer;
  margin-top: 1%;
  background: #8E2DE2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-family: Modernist;
font-size: 1rem;
  border: none;
  outline: none;
}
.post-form {
  margin: 2%;
  background: #c7cace;
  padding: 2%;
  font-family: Modernist;
  width: 75%;
  border-radius: 8px;
}
.comment-form {
  margin-top: 2%;
  font-family: Modernist;
  width: 75%;
  border-radius: 8px;
}
.comment-from {
  font-family: Modernist;
  width: 50%;
  outline: none;
  padding: 1%;
  resize: vertical;
  border: #c7cace solid 1px;
  border-radius: 8px;
}
.comment-from:focus {
  border: rgb(78, 150, 218) 1.25px solid;
}
.title {
  font-family: Modernist;
}
.fa-bookmark {
}
.saved-post-thing {
  color: black;
}
.new-post-nav {
  padding: 0.25em;
  color: white;
}
.title-text-post-divider {
  width: 20em;
  height: 0.1em;
  background: black;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.menu-bar-nav {
  width: 0.75em;
  height: 0.125em;
  background: black;
  margin-top: 0.125em;
  transform: translateY(0.5em);
  cursor: pointer;
}
.menu-search-nav {
  width: 0.60em;
  height: 0.60em;
  border: black 0.1em solid;
  border-radius: 50%;
  margin-top: 0.125em;
  transform: translateY(0.5em);
  cursor: pointer;
}
.menu-search-line {
  width: 0.3em;
  height: 0.125em;
  
  background: black;
  /* margin-top: 0.125em; */
  
  cursor: pointer;
  transform: rotate(45deg) translateY(0.01em) translateX(0.60em);
}
.sidebar-below {
  margin-top: 10rem;
}
.sidebar-nav-icon-bm {
  transform: translateY(0.1em);
  color: #818181;
  fill: #818181;
  width: 0.9em;
  height: auto;
}
.sidebar-nav-icon-in {
  transform: translateY(0.1em);
  /* fill: #818181; */
  width: 0.9em;
  height: auto;
}
.sidebar-nav-icon-discover {
  transform: translateY(0.1em);
  color: #818181;
  fill: #818181;
  width: 1.2em;
  height: auto;
}
.sidebar-nav-icon:hover {
  fill: #c8c8c8;
}
#a-base-nav a:not(svg) {
}
.nav-search-li {
  transform: translateY(-0.1em);
  cursor: pointer;
}
.menu-bar-nav:hover {
  background: rgb(70, 70, 70);
}
.profile-stuff-inline {
  /* display: inline-block; */
}
/* .post-list-flex {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1rem;
} */
.rich-text-toolbar-post {
  display: flex;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  font-family: Modernist;
  margin-top: 1rem;
  background: rgba(0,0,0,0.26) solid 1px;

}
#new-post {
  /* display: inline-block; */
}
.nav-sidenav-icon {
  transform: translateY(0.3em);
  fill: #818181;
  width: 35px;
  height: 35px;
}
.stroke-as-well {
}
#new-post-btn {
  cursor: pointer;
  border-radius: 2em;
  padding: 0.75em 2em;
  background: rgb(215, 99, 238);
  border: none;
  outline: none;
  font-family: Modernist;
  color: #ffffff;
  font-size: 0.6em;
}
.btn-rich-cont {
  padding: 0.3rem;
}
.rich-text-toolbar-post button {
  color: #7c7c7c;
  background: whitesmoke;
  border: none;
  outline: none;
  border-radius: 4px;
  font-family: Modernist;
 padding: 0.5em;
 margin: 0.5em;
  width: auto;
  height: auto;
}
.seperator-rich-txt {
  display: inline;
  border-left: 1px solid #ddd;
  height: 30pt;
  background: #7c7c7c;
}
.fa-grip-lines-vertical {
  color: #7c7c7c;;
}
#img-profile-nav-small {
  transform: translateY(0.22em);
  user-select: none;
  border-radius: 50%;
}
.error-warning-div {
  background: rgb(219, 41, 10);
  padding: 2rem;
  color: white;
  margin: 2rem;
  font-family: Modernist;
}
.comment-stuff {
  margin-top: 2px;
}
.latest-posts-div {
  /* text-align: left; */
}
.latests-posts-ind {
  text-align: left;
  background: white;
  -webkit-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.26);
    box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.26);
  margin: 1rem;
  padding: 1rem;
  color: steelblue;  
}
#post-a-title-latest {
  text-decoration: none;
  text-align: left;
}

.editable-div-post {
  width: 200px;
  height: 175px;
  background: whitesmoke;
}
.text-area-post {
  display: none;
}
#textbox-div {
  border-radius: 8px;
  resize: vertical;
  background: white;
  outline: none;
  padding: 1rem;
  height: 25vh;
  overflow: scroll;
  overflow-x: hidden;
  border: rgba(0,0,0,0.26) solid 1px ;
}
#notif-count-base {
  border-right: solid rgb(97, 97, 97) 1px;
  padding: 0.5em;
  color: rgb(224, 69, 69);
}
#info-msg {
  background: rgb(78, 148, 253);
  margin: 4rem;
  padding: 2rem;

}
#info-msg h1 {
  color: white;
  font-family: Modernist;
}
::selection {
  color: white;
  background: #c626af;
}
#profile-comments a {
  margin-left: 2rem;
}
#profile-username-comments {
  margin-left: 0.5em;
  margin-bottom: 2em;
}

/* new post stuff */

.container- {
  display: flex;
  justify-content: center;
  margin: auto;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.sidebar- {
  font-family: Modernist;
  margin-top: 2rem;
  margin-right: 2rem;
color: black;
align-items: center;
border-radius: 20px;
padding: 2rem;
/* border: rgba(44, 44, 44, 0.100) 1px solid; */
/* background: rgb(221, 221, 221); */
background: rgb(255, 255, 255);
width: 20%;
height: 50%;
}
.sidebar-d {
  margin-top: 2rem;
}
.posts- {
  align-items: center;
  width: 30%;
}
@media screen and (max-width: 1024px) {
  .container- {
    margin: 0;
  }
  .sidebar- {
    width: 40%;
  }
  .posts- {
    width: 50%;
  }
}
@media screen and (max-width: 1350px) {
  .container- {
    margin: 0;
  }
  .sidebar- {
    width: 40%;
  }
  .posts- {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .container- {
    margin-left: 2em;
    margin-right: 2em;
  }
  .sidebar- {
    width: 100%;
  }
  .posts- {
    width: 100%;
  }
}
@media screen and (max-width: 1400px) {
  .sidebar- {
  }
  .post-co {
  }
  .container- {
  }
  .search-and-new-block {
    width: 100%;
    border-radius: 0px;
  }
}
.post-co {
  font-family: Modernist;
color: black;
padding-left: 3%;
/* border: rgba(44, 44, 44, 0.100) 1px solid; */
/* background: rgb(221, 221, 221); */
background: rgb(255, 255, 255);
/* -webkit-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.26);
-moz-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.26);
box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.26); */
/* margin-left: 2%; */
/* margin-top: 2rem; */
margin-top: 2rem;
padding: 4rem;
padding-top: 4%;
border-radius: 20px;
height: auto;
}
.post-text- {
  margin-top: 1rem;
}
.saved-posts-l {
  text-align: center;
  padding: 2em;
  margin: 2em;
  background-color: white;
  width: 75%;
  margin: 0 auto;
}