{% load static %}
{% load hitcount_tags %}
<div class="post">
      
    <!-- <p>Posted by <a href="{% url 'mainapp:view_profile_with_pk' post.author.username %}"><strong title="{{ post.author.first_name }} {{ post.author.last_name }}">{{ post.author|safe|linebreaksbr|truncatechars_html:50 }}</strong></a>{% if post.author.userprofileinfo.verified %} <img draggable="false" title="Verified User" class="verifed" src="{% static 'images\verified.png' %}" alt="verified" width="15" height="15" srcset=""> {% endif %} {% if post.author.userprofileinfo.moderator %}<span title="Moderator" id="moderator">[M]</span>{% endif %} {{ post.published_date|timesince }} ago {% if post.group %}in <a href="{% url 'mainapp:single' slug=post.group.slug %}">{{ post.group.name }}</a>{% endif %}</p> -->
    <p>Posted by <a style="text-decoration: none;" href="{% url 'mainapp:view_profile_with_pk' post.author.username %}"><strong id="username-name" class="tooltip fade" data-title="{{ post.author.first_name }} {{ post.author.last_name }}">{{ post.author|safe|linebreaksbr|truncatechars_html:50 }}</strong></a>{% if post.author.userprofileinfo.verified %} <i class="fas fa-check-circle tooltip fade" data-title="Verified User" ></i> {% endif %} {% if post.author.userprofileinfo.moderator %}<span class="tooltip fade" data-title="Moderator" id="moderator">[M]</span>{% endif %} {{ post.published_date|timesince }} ago {% if post.group %}in <a href="{% url 'mainapp:single' slug=post.group.slug %}">{{ post.group.name }}</a>{% endif %}</p>
    <!-- <!-- <p>Posted by <a href="{% url 'mainapp:view_profile_with_pk' post.author.username %}"><strong title="{{ post.author.first_name }} {{ post.author.last_name }}">{{ post.author|safe|linebreaksbr|truncatechars_html:50 }}</strong></a>{% if post.author.userprofileinfo.verified %} <svg class="verified-tick-f svg-inline--fa fa-check-circle fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="check-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"></path></svg> {% endif %} {% if post.author.userprofileinfo.moderator %}<span title="Moderator" id="moderator">[M]</span>{% endif %} {{ post.published_date|timesince }} ago {% if post.group %}in <a href="{% url 'mainapp:single' slug=post.group.slug %}">{{ post.group.name }}</a>{% endif %}</p> --> 
    <!-- <!-- <p>Posted by <a href="{% url 'mainapp:view_profile_with_pk' post.author.username %}"><strong title="{{ post.author.first_name }} {{ post.author.last_name }}">{{ post.author|safe|linebreaksbr|truncatechars_html:50 }}</strong></a>{% if post.author.userprofileinfo.verified %} <img draggable="false" title="Verified User" class="verifed" src="{% static 'images\verified.png' %}" alt="verified" width="15" height="15" srcset=""> {% endif %} {% if post.author.userprofileinfo.moderator %}<span title="Moderator" id="moderator">[M]</span>{% endif %} {{ post.published_date|timesince }} ago {% if post.group %}in <a href="{% url 'mainapp:single' slug=post.group.slug %}">{{ post.group.name }}</a>{% endif %}</p> -->
    <br>
    <!-- {% if hitcount.total_hits >= 50 %}
  <p title="This post has gained over 50 views, meaning it is trending" id="trending"><i class="fas fa-fire"></i> {{ hitcount.total_hits }} Views</p>
  {% else %}
  <p>{{ hitcount.total_hits }} Views</p>
  {% endif %} -->
  

    <h1><a title="View {{ post.title }}" class="title" href="{% url 'mainapp:post_detail' slug=post.slug %}">{{ post.title }}</a></h1>
    <div class="title-text-post-divider"></div>
    {% if post.NSFW %}<div class="nsfw"><p>NSFW</p></div> 
    
    <p><a id="readmore" href="{% url 'mainapp:post_detail' slug=post.slug %}">Read this NSFW Post&nbsp;<i class="fas fa-angle-right"></i></a></p>
    {% elif post.spoiler %}<div class="spoiler"><p>Spoiler</p></div> 
    <br>
    <p><a id="readmore" href="{% url 'mainapp:post_detail' slug=post.slug %}">Read this post which contains a spoiler&nbsp;<i class="fas fa-angle-right"></i></a></p>
    {% elif post.spoiler and post.NSFW %}<div class="nsfw"><p>NSFW</p></div> <div class="spoiler"><p>Spoiler</p></div> 
    <br>
    <p><a id="readmore" href="{% url 'mainapp:post_detail' slug=post.slug %}">Woah! This post is a double wammy of NSFW and has a spoiler! Proceed with care!&nbsp;<i class="fas fa-angle-right"></i></a></p>
    {% else %}
    {{ post.text|truncatechars:9 }}
    <p><a id="readmore" href="{% url 'mainapp:post_detail' slug=post.slug %}">Read More&nbsp;<i class="fas fa-angle-right"></i></a></p>
    {% endif %}
    <br>
        <!-- |slice:"0:5" -->
    <br>
   
    
<br>
<a class="comment" title="View all {{ post.approve_comments.count }} comments" href="{% url 'mainapp:post_detail' slug=post.slug %}#comments">Comments: {{ post.approve_comments.count }}</a>
</div>
</div><br>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
<script>

function updateText(btn,newCount){
  btn.text(newCount + " " + verb)
}

$(".like-btn").click(function(e) {
  e.preventDefault()
  var this_ = $(this_)
  var likeUrl = this_.attr("data-href")
  var likeCount = parseInt(this_.attr("data-likes"))
  $.ajax({
    url: likeUrl,
    method: "GET",
    data: {},
    success: function(data){
      console.log(data)
      var newLikes;
      if (data.liked){
        newLikes = likeCount + 1
        //add like
        updateText(this_,newLikes, "Unlike")
      } else{
        newLikes = likeCount - 1
        //remove like
        updateText(this_,newLikes, "Like")
      }
    }, error: function(error){
      console.log(error)
      console.log("error")
    }
  })
})
</script>

<style>
 
</style>