<!DOCTYPE html>
{% load staticfiles %}
{% load avatar_tags %}
<html lang="en">
<head>
    <script src="{% static 'js/app.js' %}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js" integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9">
    {% block title %}
    <title>interests.</title>
    {% endblock title %}
    
    <link href="https://vjs.zencdn.net/7.6.5/video-js.css" rel="stylesheet">

  <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
  <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
  {% if user.userprofileinfo.dark_mode == True %}
  <link rel="stylesheet" href="{% static 'css/dark.css' %}">
  {% else %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  {% endif %}
  
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="images/logos/interests-small.png">
    <link rel="icon" sizes="16x16 32x32 64x64" href="images/logos/interests-small.png">
    <link rel="icon" type="image/png" sizes="196x196" href="{% static 'images/logos/interests-small.png'%} ">
    <link rel="icon" type="image/png" sizes="160x160" href="{% static 'images/logos/interests-small.png'%} ">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/logos/interests-small.png'%} ">
    <link rel="icon" type="image/png" sizes="64x64" href="{% static 'images/logos/interests-small.png'%} ">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/logos/interests-small.png'%} ">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/logos/interests-small.png'%} ">
    <link rel="apple-touch-icon" href="{% static 'images/logo/interests-small.png'%} ">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/logo/interests-small.png'%} ">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/logo/interests-small.png'%} ">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/logo/interests-small.png'%} ">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/logo/interests-small.png'%} ">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/logo/interests-small.png'%} ">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/favicon-76.png'%} ">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/favicon-152.png'%} ">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon-180.png'%} ">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="{% static 'images/favicon-144.png'%} ">
    <meta name="msapplication-config" content="/browserconfig.xml">
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="{% static 'flags/sprite.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.4.0/lib/darkmode-js.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
</head>
  <!-- <script>var editor = new MediumEditor('.editable');</script> -->
  <script>
      $("img").on("contextmenu",function(e){
        return false;
   });
  </script>


  
</script>


<body>
  <div class="bodydiv">
        
        {% include 'mainapp/side-nav.html' %}
        {% include 'mainapp/search-div.html' %}
              
              
    <nav id="navbar">
        <!-- <li onclick="openNav()"><i class="fas fa-bars"></i></li> -->
        <li id="nav-bar-li" style="cursor: pointer;" onclick="openNav()">
          <div class="menu-bar-nav"></div>
          <div class="menu-bar-nav"></div>
          <div class="menu-bar-nav"></div>
        </li>
        <!-- <li><a class="navbar-text-logo" href="{% url 'mainapp:post_list' %}" class="navlink">interests<span class="navbar-text-logo" id="dot">.</span></a></li> -->
        
        <a href="{% url 'mainapp:post_list' %}">
          
        <!-- <img style="user-select: none;" draggable="false" class="navbar-logo" src="{% static 'images/logos/interests.png' %}" alt="" srcset="" width="auto" height="80px;"> -->
        <!-- <div style="background: #7f1dff; width: 20px; height: 70px;" class="logo-bar-one"></div>
        
        <div style="background: #7f1dff; width: 20px; height: 20px; transform: translate(25px,-20px);" class="logo-bar-two"></div> -->
        <!-- <div style="background-image: {% static 'images/logos/interests.png' %};" class="logo-img-cont">p</div> -->
        {% if user.userprofileinfo.dark_mode == False %}
        <img draggable="false" style="user-select: none;" width="80" height="auto" src="{% static 'images/logos/interests-small.png'%}">
        
        {% else %}
        <img draggable="false" style="user-select: none;" width="80" height="auto" src="{% static 'images/logos/interests-small-dark.png'%}">
        
        {% endif %}
        </a>
        <!-- <li onclick="openSearch()"><i class="fas fa-search"></i></li> -->
        <li class="nav-search-li" onclick="openSearch()">
          <div class="menu-search-nav"></div>
          <div class="menu-search-line"></div>
        </li>
        {% if user.is_authenticated %}
        <!-- <li><a href="{% url 'logout' %}">Logout</a></li> -->
        <!-- {% avatar user %}
        <a href="{% url 'avatar_change' %}">Change Avatar</a> -->
        
        {% else %}

        {% endif %}
    </nav>
    <!-- {% if request.user.is_superuser %}
    <div class="admin-banner-alert">
      <p>You are logged in as an admin</p>
      </div>
    {% elif request.user.userprofileinfo.moderator %}
    <div class="mod-banner-alert">
      <p>You are logged in as a moderator</p>
      </div>
    {% endif %} -->
<!--     
    <div class="navbar-container">
    <nav class="navbar-new">
      <ul class="navbar-items">
        <li class="navlink-header">interests.</li>
        <li class="navlink-new">your feed</li>
        <li class="navlink-new">discover</li>
        <li class="navlink-new">your profile</li>
      </ul>
    </nav>
    </div> -->

<!-- 

this is kind of epic ngl
this is kind of epic and i want to finish this project in the next few days/weeks
 -->
    <!-- {% if request.is_IE %}<div class="alert">Watch out! You're using IE, but unfortunately, this website need HTML5 features...</div>{% endif %} -->


    {% block pre_post_content %}
    {% endblock %}
    {% include 'mainapp/messages.html' %}
    
    {% block content %}
    {% load staticfiles %}
    {% load avatar_tags %}
    {% endblock %}
    
    </div>
    
    <script src='https://vjs.zencdn.net/7.6.5/video.js'></script>
    <script>
      
    </script>
    

<style>
    .admin-banner-alert {
        background: rgb(16, 103, 179);
        padding: 1rem;
        margin: 1rem;
        font-family: Modernist;
        color: white;
    }
    .mod-banner-alert {
        background: rgb(179, 16, 179);
        padding: 1rem;
        margin: 1rem;
        font-family: Modernist;
        color: white;
    }
</style>
</body>
</html>