{% load static %}
<script src="{% static 'js/app.js' %}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js" integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9">
    {% block title %}
    <title>interests.</title>
    {% endblock title %}
    
    <link href="https://vjs.zencdn.net/7.6.5/video-js.css" rel="stylesheet">

  <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
  <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
  {% if user.userprofileinfo.dark_mode == True %}
  <link rel="stylesheet" href="{% static 'css/dark.css' %}">
  {% else %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  {% endif %}
  
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="images/logos/interests-small.png">
    <link rel="icon" sizes="16x16 32x32 64x64" href="images/logos/interests-small.png">
    <link rel="icon" type="image/png" sizes="196x196" href="{% static 'images/logos/interests-small.png'%} ">
    <link rel="icon" type="image/png" sizes="160x160" href="{% static 'images/logos/interests-small.png'%} ">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/logos/interests-small.png'%} ">
    <link rel="icon" type="image/png" sizes="64x64" href="{% static 'images/logos/interests-small.png'%} ">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/logos/interests-small.png'%} ">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/logos/interests-small.png'%} ">
    <link rel="apple-touch-icon" href="{% static 'images/logo/interests-small.png'%} ">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/logo/interests-small.png'%} ">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/logo/interests-small.png'%} ">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/logo/interests-small.png'%} ">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/logo/interests-small.png'%} ">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/logo/interests-small.png'%} ">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/favicon-76.png'%} ">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/favicon-152.png'%} ">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon-180.png'%} ">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="{% static 'images/favicon-144.png'%} ">
    <meta name="msapplication-config" content="/browserconfig.xml">
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="{% static 'flags/sprite.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.4.0/lib/darkmode-js.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>