{% extends "mainapp/base.html" %}

{% block content %}

{% load static %}

<div class="main">
    <div class="mainbit">
        <h2 id="text">Meet like <span class="mind"> minded </span>people</h2>
        <!-- <img src="https://stopify.co/5Y3ZHC" alt="lol fool"> -->
        <form action="{% url 'mainapp:search_results' %}" method="GET" value="{{request.GET.q}}">
                <!-- <input name="q" value="{{request.GET.q}}" type="text" placeholder="Search"> -->
                <input autofocus required name="q" value="{{request.GET.q}}" type="text" id="search" placeholder="Search">
                
            </form>
            <!-- <form action="{% url 'mainapp:search_results_user' %}" method="GET" value="{{request.GET.q}}">
                <input name="q" value="{{request.GET.q}}" type="text" placeholder="Search">
                <input name="q" value="{{request.GET.q}}" type="text" id="search" placeholder="Search for people">
                
            </form> -->
    </div>
</div>
<!-- <div class="bg-image"> -->
    <!-- <?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="1920px" height="800px" viewBox="0 0 1920 800" enable-background="new 0 0 1920 800" xml:space="preserve">
<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="0" y1="553.3889" x2="1920" y2="553.3889">
	<stop  offset="0" style="stop-color:#E80B76"/>
	<stop  offset="1" style="stop-color:#9C4C9D"/>
</linearGradient>
<polygon fill="url(#SVGID_1_)" points="0,675.667 454.667,416.778 940.222,503.444 1486.889,306.778 1920,461.222 1920,800 0,800 
	"/>
</svg> -->
<!-- <img src="{% static 'images/site-art/svg-bg.svg' %}" alt="Homepage Background Graphic"> -->
<!-- </div> -->

<style>
    .bg-image {
        overflow: hidden;
        overflow-y: hidden;
    }
    .main {
        /*background-image: url("images/logos/interests-small.png") -->*/
        /*background-color: red; */
        overflow-y: hidden;
    }
</style>



{% endblock %}