{% load static %}

<div style=" transform: translateY(-13%);" id="sidebar">
        <img draggable="false" style="border-radius: 50%; text-align: center; user-select: none; overflow: visible; margin: 0 auto; " class="header-profile-image" src="{{ username.userprofileinfo.image.url }}" alt="Profile Image">
        <div style="transform: translateY(-20%);" class="profile-info-profile">
      <h1 id="header-profile"><a style="color: #4287f4; text-decoration: none;" href="{% url 'mainapp:view_profile_with_pk' username %}">@{{ username }}</a>{% if username.userprofileinfo.verified %} <img style="user-select: none;" draggable="false" title="Verified User" class="verifed" src="{% static 'images\verified.png' %}" alt="verified" width="20" height="20" srcset=""> {% endif %} {% if user.userprofileinfo.moderator %}<span title="Moderator" id="moderator">[M]</span>{% endif %}</h1>
      <h2 id="header-profile">{{ username.first_name }} {{ username.last_name }}</h2>
      <h3 id="description-profile-page">{{ username.userprofileinfo.description }}</h3>
      {% comment %}
      <a id="message-user" href="{% url 'mainapp:message-form' username %}">

      <div id="message-user-div">
      <h4 id="description-profile-page"><i class="fas fa-comment"></i></h4>
      </div>
      
      </a>
      
      <a id="new-post" href="{% url 'mainapp:add_friend' username %}">
        <button id="">
            Connect
        </button>
    </a>
    {% endcomment %}
    <br>
    <!-- if user in obj.friends.all(): -->
    {% comment %}
    {% if user in username.userprofileinfo.friends.all %}
    <a style="margin-top: 2em;" id="new-post" href="{% url 'mainapp:add_friend' username %}">
      <button style="font-size: 0.75em;" id="new-post-btn" class="connect-btn">
        <span>Connected</span>
      </button>
      <style>
        #new-post-btn:hover {
          background: #ee1a1a;
        }
      </style>
  </a>
  {% else %}
  <a style="margin-top: 2em;" id="new-post" href="{% url 'mainapp:add_friend' username %}">
    <button style="font-size: 0.75em;" id="new-post-btn">
      Connect
    </button>
</a>
  {% endif %}
  
  {% endcomment %}
  <a href="{% url 'mainapp:connect_friends' username %}">Connect</a>
      <br>
          
          </div>
    </div>

  <style>
    
  </style>