{% extends 'mainapp/base.html' %}
{% load staticfiles %}
{% load emoji_tags %}
{% load hitcount_tags %}
{% block title %}
<title>{{ post.title }} | interests</title>
{% endblock title %}
{% block content %}


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
<script>

function updateText(btn,newCount){
  btn.text(newCount + " " + verb)
}

$(".like-btn").click(function(e) {
  e.preventDefault()
  var this_ = $(this_)
  var likeUrl = this_.attr("data-href")
  var likeCount = parseInt(this_.attr("data-likes"))
  $.ajax({
    url: likeUrl,
    method: "GET",
    data: {},
    success: function(data){
      console.log(data)
      var newLikes;
      if (data.liked){
        newLikes = likeCount + 1
        //add like
        updateText(this_,newLikes, "Unlike")
      } else{
        newLikes = likeCount - 1
        //remove like
        updateText(this_,newLikes, "Like")
      }
    }, error: function(error){
      console.log(error)
      console.log("error")
    }
  })
})
</script>
<div class="post-container-de">
<div class="post">

  <p>Posted by <a href="{% url 'mainapp:view_profile_with_pk' post.author.username %}"><strong>{{ post.author|safe|linebreaksbr|truncatechars_html:50 }}</strong></a>{% if post.author.userprofileinfo.verified %} <img draggable="false" title="Verified User" class="verifed" src="{% static 'images\verified.png' %}" alt="verified" width="15" height="15" srcset=""> {% endif %}{% if post.author.userprofileinfo.moderator %}<span title="Moderator" id="moderator">[M]</span>{% endif %} {% if post.published_date == 0 %}just now {% else %}{{ post.published_date|timesince }} ago {% endif%} {% if post.group %}in <a href="#">{{ post.group.name }}</a>{% endif %}</p>
  <!-- <br> -->
  <!-- {% if hitcount.total_hits >= 50 %}
  <p title="This post has gained over 50 views, meaning it is trending" id="trending"><i class="fas fa-fire"></i> {{ hitcount.total_hits }} Views</p>
  {% else %}
  <p>{{ hitcount.total_hits }} Views</p>
  {% endif %}
  <p>|</p> -->
  {% comment %}
  {% if user in post.likes.all %}
  <a class='like-btn' href="{% url 'mainapp:post_likes' slug=post.slug %}">
    <i class="fas fa-thumbs-up">&nbsp;<span class="like-count">{{ post.likes.count }}</span></i>
  </a>
  {% else %}
  <a class='like-btn' href="{% url 'mainapp:post_likes' slug=post.slug %}">
    <i class="far fa-thumbs-up">&nbsp;<span class="like-count">{{ post.likes.count }}</span></i>
  </a>
  {% endif %}
  {% endcomment %}
  
  {% if user in post.saves.all %}
  <a class='like-btn' href="{% url 'mainapp:post_saves' slug=post.slug %}">
    <i class="fas fa-bookmark saved-post-thing"></i>
  </a>
  {% else %}
  <a class='like-btn' href="{% url 'mainapp:post_saves' slug=post.slug %}">
    <i class="far fa-bookmark saved-post-thing"></i>
  </a>

  {% endif %}

        <!-- <br><hr id="divider_post"><br> -->
        {% comment %}
        {% if object.author == user %}
          <div>
            <a class="update" href="{% url 'mainapp:post-update' object.id %}">Update</a>
            <a class="delete" href="{% url 'mainapp:post-delete' object.id %}">Delete</a>
          </div>
        {% endif %}<br>
        {% endcomment %}
        <h1><a title="{{ post.title }}" class="title" href="#">{{ post.title }}</a></h1>
        <!-- <h1 class="title" title="View {{ post.title }}">{{ post.title }}</h1> -->
        <div class="title-text-post-divider"></div>
        {% if post.image %}
        {% if post.NSFW %}
        <img class="post-image-nsfw myImg" src="{{ post.image.url }}" alt="pfp" width="20%" height="20%" draggable="false"><br><br><br>
          {% else %}
          <img id="myImg" src="{{ post.image.url }}" alt="{{ post.image.url }}" style="width:100%;max-width:300px"><br><br><br>
          {% endif %}
          

        {% endif %}
        {% if post.file %}
          <!-- <video width="500px" height="500px" controls>
            <source src="{{ post.file.url }}" type="video/mp4">
       </video> -->
       <video id='my-video' class='video-js' controls preload='auto' width='640' height='264' data-setup='{}'>
    <source src='{{ post.file.url }}' type='video/mp4'>
    <p class='vjs-no-js'>
      To view this video please enable JavaScript, and consider upgrading to a web browser that
      <a href='https://videojs.com/html5-video-support/' target='_blank'>supports HTML5 video</a>
    </p>
  </video>
          {% endif %}
          <div class="post-text">
        {{ post.text|safe|linebreaksbr }}
</div>

        <!-- The Modal -->
        
<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
  </div>
  
  
  
    <a class="comment" title="View all {{ post.approve_comments.count }} comments" href="{% url 'mainapp:post_detail' slug=post.slug %}">Comments: {{ post.approve_comments.count }}</a>
    <div class="if-comments">
    </div>
      {% comment %}
      <a style="display: inline-block; margin-left: 2%; font-family: Modernist;" href="{% url 'mainapp:profile' %}"><p><img draggable="false" id="img-profile-nav-small" width="30" height="30" src="{{ request.user.userprofileinfo.image.url }}" alt="User profile picture ">Commenting as {{ request.user }} <!--new-post-nav<a class="new-post-nav" style="display: inline-block; font-size: 0.8em;" href="{% url 'mainapp:post_new' %}">New Post</a>--></p></a>
     {% endcomment %}
     <!-- Comment section starts below -->

    <form class="comment-form" method="POST" action="{% url 'mainapp:add_comment_to_post' slug=post.slug %}">
      
      {% csrf_token %}
      {{form.as_p}}
      <button type="submit" class="commentbtn"><a class="aclass" href="#"></a>Comment</button>
  </form>

 
<div id="comments">
  <div class="container">

      {% comment %}
        <h3>Comments: {{ post.approve_comments.count }}</h3><br> <!--Style this up later, it's looking a bit meh atm-->
        {% endcomment %}
  {% for comment in post.comments.all %}
  
  {% if user.is_authenticated or comment.approved_comment %}
  <a id="profile-comments" style="display: inline-block; font-family: Modernist;" href="{% url 'mainapp:view_profile_with_pk' comment.author.username %}"><p><img draggable="false" id="img-profile-nav-small" width="30" height="30" src="{{ comment.author.userprofileinfo.image.url }}" alt="User profile picture "><a id="profile-username-comments" href="{% url 'mainapp:view_profile_with_pk' comment.author.username %}">{{ comment.author }}</a> <!--new-post-nav<a class="new-post-nav" style="display: inline-block; font-size: 0.8em;" href="{% url 'mainapp:post_new' %}">New Post</a>--></p></a>
  {% comment %}
  <p>Posted by <a href="{% url 'mainapp:view_profile_with_pk' comment.author.username %}"><strong> {{ comment.author }}</strong></a> {{ comment.created_date|timesince }} ago</p> 
  {% endcomment %}
  <p id="comment-text">{{ comment.text|safe|linebreaks }}</p>
  <a href="{% url 'mainapp:add_reply_to_comment' slug=post.slug %}"><p>Reply</p></a>
  <p></p>
{% endif %}

{% for reply in comment.replies.all %}
<li class="reply-li">
<ul class="reply-ul">
      <p>(REPLY) | Posted by <strong>{{ reply.author }}</strong> {{ reply.created_date|timesince }} ago</p> 
      <p id="reply-text">{{ reply.text|safe|linebreaks }}</p>
      <p>{{ reply.created_date|timesince }} ago</p><br>
      </ul>
      </li>
      {% endfor %}
  {% empty %}
      <p>No comments posted.</p>
  {% endfor %}
  
  
</div>
    </div>
</div>

</div>

      
        
   

<script>
    // Get the modal
    var modal = document.getElementById("myModal");
    
    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById("myImg");
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    img.onclick = function(){
      modal.style.display = "block";
      modalImg.src = this.src;
      captionText.innerHTML = this.alt;
    }
    
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() { 
      modal.style.display = "none";
    }
    </script>
{% endblock content %}