{% extends 'mainapp/base.html' %}
{% block content %}
{% load static %}
<script src="{% static 'js/app.js' %}"></script>
<!-- <form class="post-form form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
            <button type="submit" class="post-form-submit">Submit</button>
        <script>var editor = new MediumEditor('.editable');</script>
</form> -->

<!-- textareaclass -->

<script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js" integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0" crossorigin="anonymous"></script>

<div class="register-form-container">
    <form id="regForm" method="POST" enctype="multipart/form-data" onsubmit="return getContent()">
        {% csrf_token %}
        <h1 id="sign-up-head">Make a new <span style="opacity: 1;" class="mind">interests</span> post</h1>
        {% csrf_token %}
        {{ form.errors }}
        <!-- One "tab" for each step in the form: -->
        <div class="tab" style="margin-top: 1rem;" aria-autocomplete="none">
        {% csrf_token %}
          {{ form.title }} <br>
          
          <div class="rich-text-toolbar-post">
              <div class="btn-rich-cont">
                <button onclick="document.execCommand( 'bold',false,null);"  title="Bold" id="square-btn bold-btn-rich"><i class="fas fa-bold"></i></button onClick="transform('bold', null)" >
                <button onclick="document.execCommand( 'italic',false,null);" title="Italic" id="square-btn italic-btn-rich"><i class="fas fa-italic"></i></button>
                <button title="Underline" id="square-btn underline-btn-rich"><i class="fas fa-underline"></i></button>
                <button title="Strikethrough" id="square-btn underline-btn-rich"><i class="fas fa-strikethrough"></i></button>
                <button onClick="transform('heading', null)" title="Header 3" id="square-btn h3-btn-rich"><b>h3</b></button>
                <button title="Header 2" id="square-btn h2-btn-rich"><b>h2</b></button>
                <div class="seperator-rich-txt"></div>
                <!-- <i class="fas fa-grip-lines-vertical"></i> -->
                <button onClick="transform('createLink', null)" title="Link" id="square-btn h2-btn-rich"><i class="fas fa-link"></i></button>
                <button title="Image" id="square-btn h2-btn-rich"><i class="fas fa-image"></i></button>
                <button title="Code Block" id="square-btn h2-btn-rich"><i class="fas fa-code"></i></button>
                <div class="seperator-rich-txt"></div>
                <button title="List" id="square-btn h2-btn-rich"><i class="fas fa-list"></i></button>
                <button title="Ordered List" id="square-btn h2-btn-rich"><i class="fas fa-list-ol"></i></button>
                <button onClick="transform('indent', null)" title="Quote Block" id="square-btn h2-btn-rich"><i class="fas fa-quote-left"></i></button>
                </div>
            </div>

            <div id="textbox-div" contenteditable="true"></div>
          {{ form.text }}
          <br>
          <label for="">Group</label>
          {{ form.group }} <br> <br>
          {{ form.image }}
          <p style="margin-top: 1em;">Tags {{ form.tags }}</p> <br>
          <p>{{ form.NSFW }} NSFW</p>
          <p>{{ form.spoiler }} Spoiler</p><br>
          {{ form.tag }} <br>
          <button style="margin-top: 1rem;" type="submit" id="subBtn">Submit</button>
        </div>
        
        <!-- <script>var editor = new MediumEditor('.editable');</script> -->
      </form>
    </div>
    </div>

<script>
    function getContent(){
        document.getElementById("textareaclass").value = document.getElementById("textbox-div").innerHTML;
    }
</script>
    
    <script>
        editor.document.designMode = "On";


function transform(option, argument) {
  editor.document.execCommand(option, false, argument);
}
    </script>

    

    <style>
        #regForm {
            z-index: 1000;
            background-color: #ffffff;
            -webkit-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.26);
    box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.26);
    font-family: Modernist;
    
            margin: 0 auto;
            margin-top: 3rem;
            padding: 40px;
            border-radius: 12px;
            width: 60%;
            min-width: 300px;
          }
          .textinputclass {
            font-family: Modernist;
            /* border:rgb(46, 46, 46) solid 1px; */
            width: 100%;
            resize: vertical;
          }
          input[type=text] {
            padding: 0.5rem;
            width: 100%;
            margin-top: 1rem;
            font-family: Modernist;
            font-size: 14px;
            border: 1px solid #aaaaaa;
            border-radius: 12px;
            outline: none;
            border: none;
            border: rgba(0,0,0,0.26) solid 1px;
          }
          
          /* Mark input boxes that gets an error on validation: */
          input.invalid {
            background-color: #ffdddd;
          }
          
          /* Hide all steps by default: */
          .tab {
            
          }
          
          
          
          button:hover {
            opacity: 0.8;
          }
          
          #prevBtn {
              background: transparent;
              color: rgb(46, 46, 46);
              border: none;
              outline: none;
              cursor: pointer;
          }
          
          /* Make circles that indicate the steps of the form: */
          .step {
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbbbbb;
            border: none;  
            border-radius: 50%;
            display: inline-block;
            opacity: 0.5;
          }
          
          .step.active {
            opacity: 1;
          }
          
          /* Mark the steps that are finished and valid: */
          .step.finish {
            background: linear-gradient(90deg, rgba(242,44,125,1) 0%, rgba(127,29,255,1) 100%);
          }
</style>

{% endblock %}