{% extends 'mainapp/base.html' %}
{% load staticfiles %}
{% load humanize %}
{% load hitcount_tags %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% block pre_post_content %}
<div class="search-and-new-block">
<form class="search-form" action="{% url 'mainapp:search_results' %}" method="GET" value="{{request.GET.q}}">
    <input class="search-box" name="q" value="{{request.GET.q}}" type="text" placeholder="Search">
</form>
</div>

<!-- {% for tag in tags %}
<div class="tag-list">
    <li><a href="{% url 'mainapp:tagged' tag.slug %}">{{ tag.name }}</a></li>
{% empty %}
    <li>No tags</li>
</div>
{% endfor %} -->
<br><br><br>
<script>
    $(document).ready(function(){
      $("button").click(function(){
        $("#list-of-groups").toggle();
      });
    });
    </script>
<!-- <button>Toggle between hiding and showing the paragraphs</button>
<div class="list-of-groups">
{% if request.user.is_authenticated %}
<div class="group-list-home">
<h3>Your Groups</h3>
    {% for user_group in user_groups %}
    <li>
        <a href="{% url 'mainapp:single' slug=user_group.slug %}">{{ user_group.name }}</a>
    </li>
    {% endfor %}
    </div>
{% endif %}

<h3>All Groups</h3>
{# {% get_other_groups as other_groups %} #}
{% for group in all_groups %}
    <li><a href="{% url 'mainapp:single' slug=group.slug %}">{{ group.name }}</a></li>
{% endfor %}
</div> -->

{% endblock %}


{% block content %}
<div class="centercontent">
{% comment %}
  <div class="post-list-flex">

  {% include 'mainapp/sidebar.html' %}
  {% for post in posts %}
  <div class="content">
  {% include 'mainapp/_post.html' %}
  </div>
  {% endfor %}
  
  </div>
{% endcomment %}
  <div class="post-list-flex">

  {% include 'mainapp/sidebar.html' %}
  {% for post in posts %}
  <div class="content">
  {% include 'mainapp/_post.html' %}
  </div>
  {% endfor %}

  </div>


</div> 


{% endblock %}