{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
<div class="search-and-new-block">
    <h2>Bookmarks</h2>
    <!-- <form class="search-form" action="{% url 'mainapp:search_results' %}" method="GET" value="{{request.GET.q}}">
        <input class="search-box" name="q" value="{{request.GET.q}}" type="text" placeholder="Search">
    </form> -->
    </div>

<div class="container-">
    <div class="sidebar- sticked">
        <h3>People to connect with</h3>
        {% for user_group in users %}
        <li>
            <a style="text-decoration: none; color: #4287f4;" href="{% url 'mainapp:view_profile_with_pk' user_group.username %}">{{ user_group }}</a>
        </li>
        {% endfor %}
        <br>
        <div class="sidebar-d">
            <h3>Quick links</h3>
            <li>
                <a style="text-decoration: none; color: #4287f4;" href="{% url 'mainapp:post_new' %}">Create new post</a>
            </li>
        </div>
    </div>
    <div class="posts-">
        {% for post in posts %}
        <div class="post-co">
            <!-- <p>Posted by <a href="{% url 'mainapp:view_profile_with_pk' post.author.username %}"><strong title="{{ post.author.first_name }} {{ post.author.last_name }}">{{ post.author|safe|linebreaksbr|truncatechars_html:50 }}</strong></a>{% if post.author.userprofileinfo.verified %} <img draggable="false" title="Verified User" class="verifed" src="{% static 'images\verified.png' %}" alt="verified" width="15" height="15" srcset=""> {% endif %} {% if post.author.userprofileinfo.moderator %}<span title="Moderator" id="moderator">[M]</span>{% endif %} {{ post.published_date|timesince }} ago {% if post.group %}in <a href="{% url 'mainapp:single' slug=post.group.slug %}">{{ post.group.name }}</a>{% endif %}</p> -->
            <p>Posted by <a style="text-decoration: none;" href="{% url 'mainapp:view_profile_with_pk' post.author.username %}"><strong id="username-name" class="tooltip fade" data-title="{{ post.author.first_name }} {{ post.author.last_name }}">{{ post.author|safe|linebreaksbr|truncatechars_html:50 }}</strong></a>{% if post.author.userprofileinfo.verified %} <i class="fas fa-check-circle tooltip fade" data-title="Verified User" ></i> {% endif %} {% if post.author.userprofileinfo.moderator %}<span class="tooltip fade" data-title="Moderator" id="moderator">[M]</span>{% endif %} {{ post.published_date|timesince }} ago {% if post.group %}in <a href="{% url 'mainapp:single' slug=post.group.slug %}">{{ post.group.name }}</a>{% endif %}</p>
            <h1>{{ post.title }}</h1> 
            <div class="post-text-">
            {{ post.text|linebreaksbr|truncatechars_html:50 }}
            <p><a id="readmore" href="{% url 'mainapp:post_detail' slug=post.slug %}">Read More&nbsp;<i class="fas fa-angle-right"></i></a></p>  
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}