{% extends 'mainapp/base.html' %}

{% load static %}
{% block content %}

{% csrf_token %}
<a href="{% url 'mainapp:get_premium' %}">
<button>Get premium</button>
</a>
{% if user.userprofileinfo.premium == True %}
<p>You have premium</p>
{% endif %}

{% endblock %}