{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %}
<title>Account settings | interests</title>
{% endblock title %}
{% block content %}



<div class="register-form-container">
  
    <form id="regForm" method="POST" enctype="multipart/form-data">
      {% if user.userprofileinfo.is_developer == True %} 
    <a href="{% url 'mainapp:dev_portal' %}">Go to developer portal</a>
  {% endif %}
  <br><br><br>
        {% csrf_token %}
        <h1 id="sign-up-head">Update your <span style="opacity: 1;" class="mind">interests</span> account</h1>
        {% csrf_token %}
        {{ form.errors }}
        <!-- One "tab" for each step in the form: -->
        <div class="tab" style="margin-top: 1rem;" aria-autocomplete="none">
                {% csrf_token %}
          {{ u_form.username }}
          {{ u_form.first_name }}
          {{ u_form.last_name }}
          {{ u_form.email }}
          {{ p_form.image }} <br><br>
          {{ p_form.description }}
          {{ p_form.tags }}
          {{ p_form.dark_mode }}
          <p>{{ p_form.is_private }} Private Account</p>
          <p>{{ p_form.is_developer }} Developer Mode</p>
          {{ p_form.colour }} <br>
          {{ p_form.gender }}
          {{ p_form.banner }}
          {{ p_form.website }}
        </div>
        <div class="tab" style="margin-top: 1rem;">
        {% csrf_token %}
          <input required type="password" name="password1" placeholder="Password">
          <input required type="password" name="password2" placeholder="Confirm Password">
        </div>
        <div style="overflow:auto; margin-top: 1rem;">
          <div style="float:left;">
                <button style="display: none;" type="submit" id="subBtn">Submit</button>
            <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
            <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
            
          </div>
        </div>
        <!-- Circles which indicates the steps of the form: -->
        <div style="text-align:center;margin-top:auto;">
          <span class="step"></span>
          <span class="step"></span>
        </div>
      </form>
    </div>
    </div>

    <script>
        var currentTab = 0; // Current tab is set to be the first tab (0)
        showTab(currentTab); // Display the current tab
        
        function showTab(n) {
          // This function will display the specified tab of the form...
          var x = document.getElementsByClassName("tab");
          x[n].style.display = "block";
          //... and fix the Previous/Next buttons:
          if (n == 0) {
            document.getElementById("prevBtn").style.display = "none";
          } else {
            document.getElementById("prevBtn").style.display = "inline";
          }
          if (n == (x.length - 1)) {
            document.getElementById("nextBtn").innerHTML = "Submit";
            document.getElementById("nextBtn").style.display = "none";
            document.getElementById("subBtn").style.display = "inline";
          } else {
            document.getElementById("nextBtn").innerHTML = "Next";
          }
          //... and run a function that will display the correct step indicator:
          fixStepIndicator(n)
        }
        
        function nextPrev(n) {
          // This function will figure out which tab to display
          var x = document.getElementsByClassName("tab");
          // Exit the function if any field in the current tab is invalid:
          if (n == 1 && !validateForm()) return false;
          // Hide the current tab:
          x[currentTab].style.display = "none";
          // Increase or decrease the current tab by 1:
          currentTab = currentTab + n;
          // if you have reached the end of the form...
          if (currentTab >= x.length) {
            // ... the form gets submitted:
            document.getElementById("regForm").submit();
            return false;
          }
          // Otherwise, display the correct tab:
          showTab(currentTab);
        }
        
        function validateForm() {
          // This function deals with validation of the form fields
          var x, y, i, valid = true;
          x = document.getElementsByClassName("tab");
          y = x[currentTab].getElementsByTagName("input");
          // A loop that checks every input field in the current tab:
          for (i = 0; i < y.length; i++) {
            // If a field is empty...
          }
          // If the valid status is true, mark the step as finished and valid:
          if (valid) {
            document.getElementsByClassName("step")[currentTab].className += " finish";
          }
          return valid; // return the valid status
        }
        
        function fixStepIndicator(n) {
          // This function removes the "active" class of all steps...
          var i, x = document.getElementsByClassName("step");
          for (i = 0; i < x.length; i++) {
            x[i].className = x[i].className.replace(" active", "");
          }
          //... and adds the "active" class on the current step:
          x[n].className += " active";
        }
        </script>
        <!-- <form method="POST">
                {% csrf_token %}
            <input type="hidden" name="csrfmiddlewaretoken" value="cvXcv9xLIodgZhNuhgzfX7S5SrLgr61BFBk3JjeGv6a03sKkosHsioBRFWO7rkEt">
            <p><label for="id_username">Username:</label> <input type="text" name="username" maxlength="150" autofocus="" required="" id="id_username"> </p>
        <p><label for="id_first_name">First name:</label> <input type="text" name="first_name" maxlength="30" id="id_first_name"></p>
        <p><label for="id_last_name">Last name:</label> <input type="text" name="last_name" maxlength="150" id="id_last_name"></p>
        <p><label for="id_email">Email:</label> <input type="email" name="email" required="" id="id_email"></p>
        <p><label for="id_password1">Password:</label> <input type="password" name="password1" required="" id="id_password1"> <span class="helptext"></span></p><p></p>
        <p><label for="id_password2">Password confirmation:</label> <input type="password" name="password2" required="" id="id_password2"> <span class="helptext">Enter the same password as before, for verification.</span></p>
            <input class="btn btn-primary" type="submit" value="Register">
        </form> -->
        
        <style>
                #regForm {
                    z-index: 1000;
                    background-color: #ffffff;
                    -webkit-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.26);
            -moz-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.26);
            box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.26);
            font-family: Modernist;
            
                    margin: 0 auto;
                    margin-top: 3rem;
                    padding: 40px;
                    border-radius: 12px;
                    width: 60%;
                    min-width: 300px;
                  }
                  .textinputclass {
                    font-family: Modernist;
                    border:rgb(46, 46, 46) solid 1px;
                    width: 100%;
                    resize: vertical;
                  }
                  input {
                    padding: 0.5rem;
                    width: 100%;
                    margin-top: 1rem;
                    font-family: Modernist;
                    font-size: 14px;
                    border: 1px solid #aaaaaa;
                    border-radius: 12px;
                    outline: none;
                    border: none;
                    -webkit-box-shadow: 0px 0px 14px -2px rgba(36,38,36,0.48);
                    -moz-box-shadow: 0px 0px 14px -2px rgba(36,38,36,0.48);
                    box-shadow: 0px 0px 14px -2px rgba(36,38,36,0.48);
                  }
                  
                  /* Mark input boxes that gets an error on validation: */
                  input.invalid {
                    background-color: #ffdddd;
                  }
                  
                  /* Hide all steps by default: */
                  .tab {
                    display: none;
                  }
                  
                  
                  
                  button:hover {
                    opacity: 0.8;
                  }
                  
                  #prevBtn {
                      background: transparent;
                      color: rgb(46, 46, 46);
                      border: none;
                      outline: none;
                      cursor: pointer;
                  }
                  
                  /* Make circles that indicate the steps of the form: */
                  .step {
                    height: 15px;
                    width: 15px;
                    margin: 0 2px;
                    background-color: #bbbbbb;
                    border: none;  
                    border-radius: 50%;
                    display: inline-block;
                    opacity: 0.5;
                  }
                  
                  .step.active {
                    opacity: 1;
                  }
                  
                  /* Mark the steps that are finished and valid: */
                  .step.finish {
                    background: linear-gradient(90deg, rgba(242,44,125,1) 0%, rgba(127,29,255,1) 100%);
                  }
        </style>
{% endblock %}