{% load static %}

<div id="mySearch" class="sidenav">
    <div class="sidenav-txt-search">
          <a style="cursor: pointer;" class="closebtn" onclick="closeSearch()">&times;</a>
          <form action="{% url 'mainapp:search_results' %}" method="GET" value="{{request.GET.q}}">
            <input autofocus required name="q" value="{{request.GET.q}}" type="text" id="search-s" placeholder="Search">
            
        </form>
        </div>
        </div>

<style>
    .sidenav-txt-search {
        margin: 0 auto;
        margin-top: 2em;
        text-align: center;
    }
    #search-s {
        border: none;
        border-bottom: black solid 1px;
        outline: none;
        background: none;
        width: 80%;
        font-family: Modernist;
    }
</style>