{% load static %}

<div style="user-select: none;" id="sidebar">
    <h3>People to connect with</h3>
    {% for user_group in users %}
    <li>
        <a style="text-decoration: none; color: #4287f4;" href="{% url 'mainapp:view_profile_with_pk' user_group.username %}">{{ user_group }}</a>
    </li>
    {% endfor %}
</div>
<div style="user-select: none;" id="sidebar" class="sidebar-below">
    <h3>Quick links</h3>
    <li>
        <a style="text-decoration: none; color: #4287f4;" href="{% url 'mainapp:post_new' %}">Create new post</a>
    </li>
</div>