{% load static %}

<div id="mySidenav" class="sidenav">
    <div class="sidenav-txt">
          <a style="cursor: pointer;" class="closebtn" onclick="closeNav()">&times;</a>
          {% if user.is_authenticated %}
          
          <!-- <img draggable="false" class="navbar-image" style="border-radius: 50%;" src="{{ request.user.userprofileinfo.image.url }}" alt="User Image" width="150" height="150"> -->
          <div class="profile-stuff-inline">
          
          <a style="display: inline-block;" href="{% url 'mainapp:profile' %}"><p><img draggable="false" id="img-profile-nav-small" width="30" height="30" src="{{ request.user.userprofileinfo.image.url }}" alt="User profile picture "> {{ request.user }} <!--new-post-nav<a class="new-post-nav" style="display: inline-block; font-size: 0.8em;" href="{% url 'mainapp:post_new' %}">New Post</a>--></p></a>
          </div>
          <!-- <p>{{ user.userprofileinfo.description }}</p> -->
          <!-- <a href="{% url 'mainapp:post_new' %}"><i class="fas fa-pen"></i> Make a new post</a> -->
          
          <a id="a-non-link" style="cursor: text;"><p style="font-size: 0.75em;" href="{% url 'mainapp:post_new' %}">{{ request.user.userprofileinfo.description }}</p></a>
          <a id="new-post" href="{% url 'mainapp:post_new' %}">
            <button id="new-post-btn">
                New Post
            </button>
        </a>

        <a href="#">    
            <svg class="nav-sidenav-icon" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 474.79 430.98"><defs><style>.cls-1{fill:#fff;}</style></defs><title>user-icon</title><rect y="168.23" width="204" height="99.57" rx="49.79"/><circle cx="103.17" cy="98.09" r="50.09"/><path class="cls-1" d="M186,496a117,117,0,1,1,0-233.91H378.84a117,117,0,0,1,0,233.91Z" transform="translate(-21 -65.02)"/><rect x="73" y="222.07" width="376.79" height="183.91" rx="91.96"/><circle cx="263.55" cy="92.52" r="92.52"/></svg>
            Discover
        </a>

        <a href="{% url 'mainapp:saved-posts' %}">
            <svg class="nav-sidenav-icon" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 379.18 473.99"><defs><style>.cls-1{fill:none;}</style></defs><title>save-icon</title><path d="M439.11,334.08l-173-10.68H236.06L59.93,334.08V74.61A61.6,61.6,0,0,1,121.54,13h256a61.6,61.6,0,0,1,61.6,61.6Z" transform="translate(-59.93 -13.01)"/><path d="M249.52,302,81.77,482.94a12.6,12.6,0,0,1-21.84-8.57V302Z" transform="translate(-59.93 -13.01)"/><path d="M439.11,302V474.37a12.6,12.6,0,0,1-21.84,8.57L249.52,302Z" transform="translate(-59.93 -13.01)"/><path class="cls-1" d="M83.36,388" transform="translate(-59.93 -13.01)"/><path class="cls-1" d="M84.51,388" transform="translate(-59.93 -13.01)"/><path class="cls-1" d="M79.92,386.84" transform="translate(-59.93 -13.01)"/></svg>
            Bookmarks
        </a>
          {% comment %}
        <a href="{% url 'mainapp:inbox-list' %}">
            <svg class="nav-sidenav-icon stroke-as-well" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 463.48 311"><defs><style>.cls-1{fill:#fff;}.cls-2{fill:none;stroke:#818181;;stroke-miterlimit:10;stroke-width:40px;}.cls-3{fill:#918e8e;}</style></defs><title>Inbox Icon</title><rect class="cls-1" x="50" y="40" width="367" height="144"/><polygon class="cls-2" points="26 204 438 204 393 20 74 20 26 204"/><rect y="224" width="463" height="87"/><path class="cls-3" d="M113,181" transform="translate(-24 -88)"/><circle class="cls-1" cx="232.5" cy="191.5" r="40.5"/></svg>
            Inbox
        </a>
        {% endcomment %}
          
          {% else %}
          <a href="{% url 'mainapp:user_login' %}"><i class="fas fa-sign-in-alt"></i> Login/Register</a>
          {% endif %}
        </div>
        </div>